html,
body,
root,
.App {
  text-align: center;
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #282c34, 70%, #415a8c) !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  /*min-height: 12vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 14.5%;
}

.App-link {
  color: #61dafb;
}

.App-title {
  position:absolute;
  top:0;
  margin-top: 0.5%;
}

/*DESKTOP*/
@media screen and (min-width: 601px) {
  .App-title {
    font-size: 6vw;
  }

  .App-header {
    margin-bottom: 8%;
  }

  .btn {
    padding: 2.5%;
  }

}

/*MOBILE*/
@media screen and (max-width: 600px) {
  .App-title {
    font-size: 10vw;
  }

  .App-header {
    margin-bottom: 14.5%;
  }

}


.user_selection {
  margin-top: 6vh;
}

.btn {
  width: 85%;
  font-size: 28px;
  /*padding: 5%;*/
  margin: 1.5% 2.5% 2.5% 2.5%;
  white-space: normal;
}


.video{
  padding-left: 10%;
}

#received_video {
  width: 55%;
}

.camera_box {
  margin: 0 auto;
}

#local_video {
  width: 10%;
}

video {
  padding: 1%;
  margin: 1%;
}

.instructions {
  color:white;
  font-size: 3.4vh;
}

.loading {
  color: white;
}

.spinner{
  display:block;
  margin:auto;
  margin-top:2.5%;
  min-height: 12.5%;
  min-width: 12.5%;
}

span.line {
  display: inline-block;
}

#hangup-button {
  width: 25%;
  margin-right: 13%;
  font-size: 4vh;
  padding: 0;
  margin-top: 0;
}