html,
body,
root,
.App {
  text-align: center;
  height: 100%;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1.5%;
}

.App-link {
  color: #61dafb;
}

.App-title {
  position:absolute;
  top:0;
  margin-top: 0.5%;
  font-size: 15vh;
}

.user_selection {
}

.btn {
  font-size: 28px;
  padding: 5%;
  margin: 1.5% 2.5% 2.5% 2.5%;
}

video{
  padding: 5vh;
}

#received_video {
  width: 35%;
}

#local_video {
  width: 25%;
}

.instructions {
  color:white;
  font-size: 3.4vh;
}

.loading {
  color: white;
}

.spinner{
  display:block;
  margin:auto;
  margin-top:2.5%;
  min-height: 12.5%;
  min-width: 12.5%;
}